.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    color: red;
    font-size: 20px;
}

.category {
    color: red;
    font-size: 20px;
}

.year {
    color: red;
    font-size: 20px;
}